{% extends "users/base.html" %}

{% load static %}
{% block title %}Attendance Records{% endblock %}
{% block content %}
<div style="padding-left: 25px;">
      <h1 class="w3-text-teal" style="padding-top: 20px;">About</h1>
      <div style="border: 2px solid black; border-radius: 5px; height: 700px; width: 1400px; padding-left: 25px; padding-top: 20px; padding-right: 20px;">
        <div class="content-section">
			<h1 class="w3-text-teal" data-aos="zoom-in" align="middle">"NAXA" is a Nepali name for maps. And that's what we work on.</h1>

			<p class="col-md-12">
				</p><p><span style="font-weight: 400;">NAXA is a Geo-IT company based based in Kathmandu, Nepal. The company holds specific expertise in digital mapping, geodata management and development of map-centric applications . It has been working on the fusion of mapping and IT to develop software programs that can help in making data driven decisions. The primary domain of the company is in collecting and analysing geo-tagged data to turn them into information that can facilitate better decision making. &nbsp;</span></p>
                <p><span style="font-weight: 400;">The company is working relentlessly on the use of IT solutions for better collection, management and visualization of geo-tagged data. NAXA was founded by Geomatics Engineers who specialize in GIS mapping, geo-database management and visualization. The team comprises of highly skilled software developers, GIS professionals and data analysts. The interest and approach of NAXA is in conceptualization of ideas, design of smart solutions and implementation/institutionalization of these to solve contemporary problems.</span></p>
                <p><span style="font-weight: 400;">We are focused in designing products that can be leveraged for better information dissemination and decision making. We bring forward state of the art technologies in surveying and mapping replacing traditional heft methods. We believe that technologies have their contextual fittings and work on adopting innovations to address local problems.</span></p>
			<p></p>
       </div>
      </div>
</div>
{% endblock %}