{% extends "users/base.html" %}

{% load static %}
{% block title %}Attendance Records{% endblock %}
{% block content %}
<div style="padding-left: 25px;">
      <h1 class="w3-text-teal" style="padding-top: 20px;">Contact</h1>
      <div style="border: 2px solid black; border-radius: 5px; height: 700px; width: 1400px; padding-left: 25px; padding-top: 20px; padding-right: 20px;">
        <div class="content-section">
            <div class="col-sm-4">
            <div class="w3-text-teal">
          <h3>Address </h3>
        </div>
          <div class="contact-add">

          <p><i class="fa fa-phone">  </i> +977 01-4416543 </p>
          <p><i class="fa fa-map-marker">  </i> Maharajgunj , Kathmandu , Nepal.</p>
          <p><i class="fa fa-envelope"> </i> mail.naxa@gmail.com</p>
          <p><i class="fa fa-globe">   </i> www.naxa.com.np</p>
          <p><i class="fa fa-clock-o">   </i> 9 A.M - 6 P.M</p>
        </div>
        </div>
        </div>
      </div>
</div>
{% endblock %}